<div class="info container-secondary inline-block quarter-padding">
  <div class="nowrapText quarter-padding">
    Throughput: {{node.outputRate * (plannerService.timeFactor$ | async) | number:'1.2-2' }} /s
  </div>
  <div class="nowrapText quarter-padding">
    Recipe Request: {{node.recipeRequest}}
  </div>
  <div class="nowrapText quarter-padding">
    Quantity per Craft: {{node.quantityPerCraft}}
  </div>
  <div class="nowrapText quarter-padding">
    Crafting Time: {{node.craftingTime}}
  </div>
  <div class="nowrapText quarter-padding">
    Crafting Speed: {{node.craftingMachine?.crafting_speed}}
  </div>
  <div class="nowrapText quarter-padding">
    Category: {{node.category}}
  </div>
</div>