<div mat-dialog-title>Changelog & Settings</div>
<mat-dialog-content appScrollShadow>
  <div class=" wrapper-controls col inner-spacer">
    <mat-slide-toggle [formControl]="controlShowTips">Show tips on startup</mat-slide-toggle>
    <button (click)="settingsService.reset()" mat-stroked-button>Reset application</button>
  </div>
  <div class="wrapper-version primary">App version : {{appVersion}}</div>
  <div class="wrapper-version primary">Angular version : {{angularVersion}}</div>
  <div *ngFor="let version of versions" class="wrapper-version">
    <div>{{version.name}}</div>
    <ul>
      <li *ngFor="let change of version.changes" class="secondary">{{change}}</li>
    </ul>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="accent" mat-dialog-close cdkFocusInitial>Ok</button>
</mat-dialog-actions>