<div md-dialog-title cdk-focus-start>Changelog</div>
<md-dialog-content>
  <div class="wrapper-version">
    <div>Version 1.3.0</div>
    <div class="secondary">- Added global settings for crafting machines</div>
    <div class="secondary">- Improved performance</div>
  </div>
  <div class="wrapper-version">
    <div>Version 1.2.0</div>
    <div class="secondary">- Added new highly requested Tree View</div>
    <div class="secondary">- Added ability to minimize nodes by clicking on their icons</div>
    <div class="secondary">- Added new time units</div>
  </div>
  <div class="wrapper-version">
    <div>Version 1.1.0</div>
    <div class="secondary">- Added expensive recipes (marathon)</div>
  </div>
  <div class="wrapper-version">
    <div>Version 1.0.0</div>
    <div class="secondary">- Initial release</div>
  </div>
</md-dialog-content>
<md-dialog-actions>
  <button md-button color="accent" md-dialog-close>Ok</button>
</md-dialog-actions>