<!-- <button (click)="dataService.logInfo()">log dataService info</button>
<button (click)="plannerService.logInfo()">log plannerService info</button>
<button (click)="init()">init</button> -->

<div class="gpu-layer row inner-spacer center-items">
  <mat-form-field class="version" appearance="outline">
    <mat-label>Factorio Version</mat-label>
    <mat-select id="selectVersion" flex="true" floatPlaceholder="never" [(ngModel)]="dataVersion"
      (selectionChange)="dataService.selectVersion(dataVersion)">
      <mat-option *ngFor="let version of dataService.dataVersions; let i = index" [value]="version.name">
        {{version.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button>
    <i-plus-circle></i-plus-circle>
  </button>
</div>

<div id="form" class="flex wrap center-items">
  <mat-form-field class="small" appearance="outline">
    <mat-label>Quantity</mat-label>
    <input matInput type="number" min="1" [formControl]="control_output">
  </mat-form-field>
  <mat-form-field floatLabel="never" appearance="outline">
    <mat-label>Recipe</mat-label>
    <input #inputRecipe [matAutocomplete]="auto" [formControl]="control_recipe" matInput>
    <i-x class="clickable" (click)="control_recipe.setValue('')" matSuffix></i-x>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let recipe of filteredRecipes$ | async" [value]="recipe.name">
        <img #imgRecipeSearch [hidden]="imgRecipeSearch.hidden" (load)="imgRecipeSearch.hidden = false"
          (error)="imgRecipeSearch.hidden=true"
          [src]="'https://wiki.factorio.com/images/' + (recipe.name | urlImg) + '.png'" [alt]="recipe.name"
          width="32" />
        {{recipe.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="small" appearance="outline">
    <mat-label>Unit</mat-label>
    <mat-select class="timeUnit" floatPlaceholder="never" [(ngModel)]="timeUnit" (selectionChange)="onTimeUnitChange()">
      <mat-option *ngFor="let unit of timeUnits; let i = index;" [value]="unit">
        {{unit}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-icon-button color="accent" (click)="openGlobalSettings()">
    <i-settings></i-settings>
  </button>
</div>

<ng-container *ngIf="idRootNode && control_recipe.value.length > 0">
  <div>
    <button (click)="openSharedResources()" color="accent" mat-button>
      <i-list></i-list>
      <span>Resource Overview</span>
    </button>
  </div>
  <app-tree-node class="root" [nodeId]="idRootNode" #rootNode></app-tree-node>
</ng-container>