:host {
  display: block;
  position: relative;
  backface-visibility: hidden;
}
mat-form-field.small {
  max-width: 100px;
}
.nodeName {
  margin-top: 7px;
  margin-bottom: 8px;
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .12);
}
.wrapper-nodeName {
  margin-left: 4px;
  min-height: 41px;
}
.wrapper-machine:hover {
  cursor: pointer;
}
#info {
  border-radius: 2px;
}
#text-button {
  margin-left: 8px;
}
#tree {
  overflow-x: auto;
}
#form {
  >*:first-child {
    margin-right: 8px;
  }
  >*:not(:first-child):not(:last-child) {
    margin-right: 8px;
  }
}