img{
  width: 32px;
  height: 32px;
}
.wrapper-machine:not(:last-child){
  padding-right: 24px;
}
#wrapper-content{
  padding-top: 24px;
  border-top: 1px solid rgba(0, 0, 0, .12);
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}