<div mat-dialog-title>Global Settings</div>
<mat-dialog-content id="wrapper-content">
  <div class="inline-block wrapper-machine" *ngFor="let machine of machines">
    <mat-checkbox [(ngModel)]="machine.enabled"><img class="img-machine" [src]="'https://wiki.factorio.com/images/' + (machine.name | urlImg) + '.png'" [alt]="machine.name"></mat-checkbox>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>discard</button>
  <button mat-button (click)="saveAndClose()" color="accent" cdkFocusRegionstart>save</button>
</mat-dialog-actions>