img{
  width: 32px;
  height: 32px;
}
.wrapper-machine:not(:last-child){
  padding-right: 24px;
}
.img-machine{
  margin-left: 8px;
}
.node-name{
  margin-top: 7px;
  margin-bottom: 8px;
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .12);
  padding: 0 4px;
}