<mat-toolbar class="mat-elevation-z1" color="primary">
  <mat-toolbar-row>
    <b>Factorio Planner</b>
    <span class="flex-grow"></span>
    <mat-slide-toggle id="slide-toggle" [(ngModel)]="darkTheme" (ngModelChange)="onThemeChange($event)">Dark theme</mat-slide-toggle>
    <button (click)="showChangelog()" mat-icon-button>
      <mat-icon>help_outline</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <ng-container *ngFor="let tab of tabs; let i = index">
      <span class="tab" [class.selected]="i == activeTabId" *ngIf="tab != null">
        <span class="clickable" (click)="activeTabId = i">tab-{{i}}</span>
        <mat-icon class="clickable" (click)="tabs[i] = null; selectPreviousTab()">close</mat-icon>
      </span>
    </ng-container>
    <button (click)="tabs.push('tab'); activeTabId = tabs.length - 1" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div id="wrapper-page">
  <div class="vertical-spacer">
    <div class="primary">
    </div>
    <div>
      <a id="donate" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=PSC6GSWSZYC76&lc=US&item_name=Factorio%20Planner&no_note=1&no_shipping=1&rm=1&return=https%3a%2f%2ffactorio%2dplanner%2efirebaseapp%2ecom%2f&currency_code=EUR&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted"
        target="blank">
        <img src="./assets/donate.gif" alt="donate image">
      </a>
    </div>

    <div id="wrapper-tips" class="gpu-layer" [@tips]="showTips ? 'visible' : 'hidden'">
      <div id="tips" class="container-secondary">
        <button mat-icon-button (click)="showTips = !showTips">
          <mat-icon>close</mat-icon>
        </button>
        <div>Tips:</div>
        <ul>
          <li>Select at any time a factorio version which includes marathon (expensive) recipes.</li>
          <li>Click on an assembling machine to see other assembling machines available for this recipe.</li>
          <li>Click on a node to minize it.</li>
          <li>'Resource Overview' shows the total ressources needed.</li>
        </ul>
        <div>Report bugs at ngnsup+factorio.planner@gmail.com</div>
      </div>
    </div>
    <ng-container *ngFor="let tab of tabs; let i = index">
      <app-tab *ngIf="tab != null" [hidden]="activeTabId !== i"></app-tab>
    </ng-container>
  </div>
</div>