<mat-toolbar class="mat-elevation-z1" color="primary">

  <mat-toolbar-row id="toolbar-main">
    <b>Factorio Planner</b>
    <span class="flex-grow"></span>
    <button (click)="switchTheme()" matTooltip="Toggle dark mode" mat-icon-button>
      <i-moon *ngIf="!darkTheme"></i-moon>
      <i-sun *ngIf="darkTheme"></i-sun>
    </button>
    <button (click)="showChangelog()" mat-icon-button>
      <i-info matTooltip="About"></i-info>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row id="toolbar-tabs">
    <div>
      <ng-container *ngFor="let tab of tabsService.tabs$ | async; index as i; trackBy:trackByTabButton">
        <span class="wrapper-button-tab" *ngIf="tab != null" @tabButton>
          <span class="tab inverted-border clickable" [class.selected]="i == (tabsService.idActiveTab$ | async)"
            matRipple matRippleColor="rgba(0,0,0,.12)">
            <span (click)="tabsService.selectTab(i)">{{(tabsService.tabs$ | async)[i] || '-'}}</span>
            <i-x-circle (click)="tabsService.removeTab(i)">close</i-x-circle>
          </span>
        </span>
      </ng-container>
      <button (click)="addTab()" @fadeInOut mat-flat-button>
        <i-plus></i-plus>
        <span>add tab</span>
      </button>
    </div>
  </mat-toolbar-row>

</mat-toolbar>

<div id="wrapper-page" class="gpu-layer">
  <div class="vertical-spacer">

    <div class="row inner-spacer wrap">
      <span class="clickable underline" (click)="openDialogSupport()">
        Support the project!
      </span>

      <a href="https://mods.factorio.com/mod/factorio-data-exporter" target="_blank">Mod: data exporter</a>
    </div>

    <div id="wrapper-tips" class="gpu-layer" [@tips]="showTips ? 'visible' : 'hidden'">
      <div id="tips" class="container-secondary">
        <button mat-icon-button (click)="showTips = !showTips">
          <i-x-circle>close</i-x-circle>
        </button>
        <div>Tips:</div>
        <ul>
          <li>Select at any time a factorio version which includes marathon (expensive) recipes.</li>
          <li>Click on an assembling machine to see other assembling machines available for this recipe.</li>
          <li>Click on a node to minize it.</li>
          <li>'Resource Overview' shows the total ressources needed.</li>
        </ul>
        <div>Report bugs at ngnsup+factorio.planner@gmail.com</div>
      </div>
    </div>

    <ng-container *ngFor="let tab of tabsService.tabs$ | async; index as i; trackBy:trackByTabButton">
      <app-tab *ngIf="tab != null" [idTab]="i" [hidden]="(tabsService.idActiveTab$ | async) !== i"></app-tab>
    </ng-container>

  </div>
</div>