@import '../material.theme.scss';

:host{
  display: block;
  height: 100%;
  overflow: auto;
  will-change: transform;
}
:host.dark-theme{
  background-color: #546E7A;
}
mat-form-field.version{
  max-width: 130px;
}
#selectVersion{
  min-width: 125px;
}
#donate{
  margin-left: 8px;
  opacity: .75;
}
#wrapper-tips{
  overflow: hidden;
}
#tips{
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  position: relative;
  button{
    position: absolute;
    top: 0;
    right: 0;
  }
}
#slide-toggle{
  position: absolute;
  top: 12px;
  right: 12px;
}
#wrapper-page{
  padding: 0 8px;
}