:host{
  display: block;
  position: relative;
}
mat-form-field.small{
  max-width: 55px;
}
.nodeName{
  margin-top: 7px;
  margin-bottom: 8px;
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .12);
}
.wrapper-machine{
  color: rgba(0, 0, 0, .54);
}
.wrapper-machine:hover{
  cursor: pointer;
}
#info{
  background-color: #EEEEEE;
  border-radius: 2px;
}
#text-button{
  margin-left: 8px;
}
#form{
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 8px;
}