<!--
<div class="half-padding">
  <mat-checkbox #checkboxExpensive [checked]="plannerService.useExpensiveRecipes$ | async" (change)="onExpensiveRecipesValueChange(checkboxExpensive.checked)">
    Use expensive recipes (Marathon)
  </mat-checkbox>
</div>
-->
<div id="form" class="half-padding">
  <mat-form-field class="small">
    <input matInput type="number" min="1" [(ngModel)]="node.recipeRequest" [formControl]="control_output">
  </mat-form-field>
  <mat-form-field floatLabel="never">
    <input matInput placeholder="Recipe" [matAutocomplete]="auto" [formControl]="control_recipe">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let recipe of $filteredRecipes | async" [value]="recipe.name" (change)="node.calculate()">
        <img #imgRecipeSearch [hidden]="imgRecipeSearch.hidden" (load)="imgRecipeSearch.hidden = false" (error)="imgRecipeSearch.hidden=true"
          [src]="'https://wiki.factorio.com/images/' + (recipe.name | urlImg) + '.png'" [alt]="recipe.name" /> {{recipe.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="small">
    <mat-select class="timeUnit" floatPlaceholder="never" [(ngModel)]="timeUnit" (selectionChange)="onTimeUnitChange()">
      <mat-option *ngFor="let unit of timeUnits; let i = index;" [value]="unit">
        {{unit}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button color="accent" (click)="openGlobalSettings()"><mat-icon>settings</mat-icon></button>
</div>
<div class="half-padding">
  <button *ngIf="node.childsIds.length > 0" mat-button color="accent" (click)="openSharedResources()"><mat-icon>list</mat-icon><span id="text-button">Resource Overview</span></button>
</div>
<div id="tree" class="gpu-layer" *ngIf="node.category != 'unknown'">
  <div class="wrapper-nodeName flex nowrap">
    <img #imageRecipe class="self-center" [matTooltip]="node.name" [src]="'https://wiki.factorio.com/images/' + (node.name | urlImg) + '.png'"
      (load)="imageRecipe.hidden = false" (error)="imageRecipe.hidden = true" [alt]="node.name">
    <span class="self-center secondary quarter-padding">{{node.outputRate * (plannerService.timeFactor$ | async) | number:'1.2-2'}}/s</span>
    <div class="nodeName quarter-padding" *ngIf="imageRecipe.hidden" (click)="showChilds = !showChilds">{{node.name}}</div>
    <button class="secondary" mat-icon-button (click)="node.showOptions = !node.showOptions"><mat-icon>{{node.showOptions ? 'expand_less' : 'info_outline'}}</mat-icon></button>
    <div class="wrapper-machine secondary self-center quarter-padding" *ngIf="node.machines.length > 0" [matMenuTriggerFor]="menuMachine">
      <span class="primary">{{node.craftingMachine.name}}</span>
      <!--<img class="clickable" [mdMenuTriggerFor]="menuMachine" [src]="'https://wiki.factorio.com/images/' + (node.craftingMachine.name | urlImg) + '.png'">-->
      <mat-menu #menuMachine="matMenu">
        <ng-container *ngFor="let machine of node.machines">
          <button mat-menu-item (click)="node.craftingMachine = machine; node.calculate()">
            <img #imageMachine (error)="imageMachine.notFound = true" [hidden]="imageMachine.notFound" [src]="'https://wiki.factorio.com/images/' + (machine.name | urlImg) + '.png'" [alt]="machine.name"> {{machine.name}}
          </button>
        </ng-container>
      </mat-menu>
      x {{ node.numberMachines * (plannerService.timeFactor$ | async) | number:'1.2-2' }}
    </div>
  </div>
  <div *ngIf="node.showOptions" [@reveal] class="half-padding">
    <div id="info" class="container-secondary inline-block quarter-padding">
      <div class="nowrapText quarter-padding">
        Throughput: {{node.outputRate * (plannerService.timeFactor$ | async) | number:'1.2-2' }} /s
      </div>
      <div class="nowrapText quarter-padding">
        Recipe Request: {{node.recipeRequest}}
      </div>
      <div class="nowrapText quarter-padding">
        Quantity per Craft: {{node.quantityPerCraft}}
      </div>
      <div class="nowrapText quarter-padding">
        Crafting Time: {{node.craftingTime}}
      </div>
      <div class="nowrapText quarter-padding">
        Crafting Speed: {{node.craftingMachine?.crafting_speed}}
      </div>
      <div class="nowrapText quarter-padding">
        Category: {{node.category}}
      </div>
    </div>
  </div>
  <!--<div class="half-padding">Attenuation: {{ node.attenuation }}</div>-->
  <div *ngIf="node.childsIds.length > 0" class="flex column gpu-layer">
    <div class="node-padding gpu-layer" *ngFor="let nodeId of node.childsIds; let i = index;">
      <app-virtual-node class="tree-lines" [class.last]="i == node.childsIds.length - 1" [nodeId]="nodeId"></app-virtual-node>
    </div>
  </div>
</div>
