img{
  width: 32px;
  height: 32px;
}
.wrapper-item:not(:last-child){
  margin-right: 16px;
}
.node-name{
  margin-top: 7px;
  margin-bottom: 8px;
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .12);
  padding: 0 4px;
}