<div mat-dialog-title>Resource Overview</div>
<mat-dialog-content>
  <div class="flex wrap">
    <div class="wrapper-item" *ngFor="let resource of sharedResources" [matTooltipDisabled]="resource.error" [matTooltip]="resource.name">
      <img [src]="'https://wiki.factorio.com/images/' + (resource.name | urlImg) + '.png'" (error)="resource.error = true" [hidden]="resource.error"
        [alt]="resource.name">
      <span class="node-name" *ngIf="resource.error">{{resource.name}}</span>
      <span>{{resource.throughput | number:'1.2-2'}} /s</span>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="accent" mat-dialog-close>Ok</button>
</mat-dialog-actions>
