/* You can add global styles to this file, and also import other style files */
@import './material.theme.scss';
*{
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
html, body{
  height: 100%;
}
body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, .87);
}
img{
  vertical-align: middle;
}
/*
button{
  background-color: #fff;
  border: 1px solid #FF4081;
  color: #FF4081;
  font-weight: bold;
  border-radius: 2px;
  font-size: 1em;
  padding: 8px;
  cursor: pointer;
  min-width: 36px;
}
*/
.secondary{
  color: rgba(0, 0, 0, .54);
}
.underline{
  text-decoration: underline;
}
.flex{
  display: flex;
}
.flex.column{
  flex-direction: column;
}
.flex-grow{
  flex-grow: 1;
}
.flex.nowrap{
  flex-wrap: nowrap;
}
.self-center{
  align-self: center;
}
.nowrapText{
  white-space: nowrap;
}
.padding{
  padding: 16px;
}
.half-padding{
  padding: 8px;
}
.quarter-padding{
  padding: 4px;
}
.node-padding{
  margin-left: 20px;
}
.inline-block{
  display: inline-block;
  vertical-align: middle;
}
.clickable{
  position: relative;
  cursor: pointer;
}
/*
.mat-select-value-text{
  overflow: initial !important;
  text-overflow: initial !important;
}
.mat-select-value{
  position: initial !important;
}
*/
md-select{
  vertical-align: middle;
  margin-bottom: 3px;
}
md-select.timeUnit .mat-select-trigger{ //fix for select-unit in output-node.component
  min-width: 50px;
}
md-select.autoSize .mat-select-value-text{
  overflow: initial !important;
  text-overflow: initial !important;
}
md-select.autoSize .mat-select-value{
  position: initial !important;
}
/* Material temporary fixes */
md-checkbox{
  cursor: pointer;
}
button{
  text-transform: uppercase;
}
.mat-menu-panel{
  background-color: #fff;
  overflow: hidden;
}
div.mat-dialog-title{
  color: mat-color($primary);
}
md-dialog-content.mat-dialog-content{
  padding-bottom: 24px;
}
md-dialog-actions.mat-dialog-actions{
  justify-content: flex-end;
  padding: 8px 4px;
  margin-right: -24px;
  color: rgba(0, 0, 0, .87);
}
md-dialog-actions.mat-dialog-actions button{
  margin: 0 4px;
}
/* ------------------------ */